---
layout: layout.njk
title: home
---

<main>
  <ol class="post-list">
    {%- for post in collections.blog | reverse -%}
      <li class="post-item">
        <a class="post-link" href={{post.url}}>{{ post.data.title }}</a>
        <p>{{ post.data.date.toLocaleDateString() }}</p>
      </li>
    {%- endfor -%}
  </ol>
</main>