<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} | arun.app</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">  
  {% set css %}
    {% include "styles.css" %}
  {% endset %}
  <style>
    {{ css | cssmin | safe }}
  </style>
</head>

<body>
 {# <nav>
    <ol>
      <li class="{{ "nav-active" if title == "blog" }}">
        <a href="/">blog</a>
      </li>
      <li class="nav-list-item {{ "nav-active" if title == "about" }}">
        <a href="/about">about</a>
      </li>
      <li class="nav-list-item {{ "nav-active" if title == "projects" }}">
        <a href="/projects">projects</a>
      </li>
    </ol>
  </nav> #}
  {{ content | safe }}
  <footer>
    <a href="https://twitter.com/node_monk" target="_blank" rel="noreferrer">twitter</a>
    <a href="https://github.com/Arun4033622" target="_blank" rel="noreferrer">github</a>
    <a href="mailto:arun4033622@gmail.com" target="_blank" rel="noreferrer">email</a>
  </footer>
</body>

</html>