---
layout: layout.njk
---
<div class="post-title-container">
  <h1 class="post-title">{{ title }}</h1>
  <p class="post-date">{{ date.toLocaleDateString() }}</p>
</div>
<article>
  {{ content | safe }}
</article>