body {
  width: 50%;
  margin: 0 auto;
  padding: 2rem;
  font-family: "Roboto", sans-serif;
  background-color: #181a1b;
  color: #ffffff;
}

ol {
  margin: 0;
  padding: 0;
}

a {
  color: #3391ff;
}

img {
  max-width: 100%;
}

nav ol {
  display: flex;
  list-style-type: none;
  margin-bottom: 3rem;
}

nav ol li {
  margin-right: 1.5rem;
  padding: 0.3rem 0.8rem;
  border: 1px solid #666666;
  border-radius: 3px;
}

.nav-active,
nav ol li:hover {
  background-color: #27292a;
}

nav a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: normal;
  color: #ffffff;
}

footer {
  margin-top: 2rem;
}

footer a {
  margin-right: 0.4rem;
}

.post-list {
  list-style-type: none;
}

.post-link {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: normal;
}

.post-item {
  margin-bottom: 2rem;
}

.post-title-container {
  margin-bottom: 3rem;
}

.post-title {
  font-weight: bold;
  margin: 0;
}

.post-date {
  margin: 0.5rem 0 0 0;
}
