body {
  width: 50%;
  margin: 0 auto;
  padding: 2rem;
  font-family: "Roboto", sans-serif;
}

ol {
  margin: 0;
  padding: 0;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin-bottom: 3rem;
}

.nav-list-item {
  margin-right: 1.5rem;
  border: 1px solid #000000;
  border-radius: 3px;
  padding: 0.5rem 1rem;
}

.nav-active,
.nav-list-item:hover {
  background-color: #cecece;
}

.nav-link {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: normal;
  color: #000000;
}

.post-list {
  list-style-type: none;
}

.post-link {
  color: #000000;
  font-size: 1.5rem;
  font-weight: normal;
}

.post-item {
  margin-bottom: 2rem;
}
